/* Dựng khung */
.full__back {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--sub-color);
}

.box__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 770px;
    height: 484px;
    border-radius: 10px;
    background-color: var(--white-color);
}
/* Đăng nhập */
.sign__in {
    position: absolute;
    width: 50%;
    height: 100%;
    text-align: center;
    margin-top: 76px;
}

.sign__in-title {
    font-size: 32px;
    margin-bottom: 64px;
}

.box__input {
    width: 284px;
    height: 48px;
    margin: 10px auto 10px auto;
    border: none;
    background-color: var(--input-color);
}

input[type="text"]::placeholder {
    padding-left: 10px;
}
 
.sign__in-remind {
    display: block;
    font-size: 14px;
    color: blue;
    margin: 10px 0;
    text-decoration: none;
}
.sign__in-remind:hover {
    cursor: pointer;
    text-decoration: underline;
}

.sign__in-btn {
    width: 170px;
    height: 42px;
    border: none;
    margin-top: 10px;
    border-radius: 20px;
    background-color: var(--primary-color);
}
.sign__in-btn:hover {
    cursor: pointer;
    background-color: rgba(127, 255, 0, 0.7);
}

/* Đăng ký */
.new__acc {    
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    text-align: center;
    margin-top: 76px;
}

input[type="email"]::placeholder {
    padding-left: 10px;
}
 
/* Overlay: Đăng nhập */
.overlay__dn{
    position: absolute;
    width: 50%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--primary-color);
    display: none;
}

.overlay-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay__title {
    font-weight: 700;
}

.overlay__sub-title {
    width: 288px;
    margin: 32px 0;
}

.overlay__btn {
    width: 170px;
    height: 42px;
    color: var(--white-color);
    border: none;
    margin-top: 10px;
    border-radius: 20px;
    background-color: var(--black-color);
}

/* Overlay: Đăng ký */
.overlay__dk {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--primary-color);
}

.overlay__btn-dk {
    width: 170px;
    height: 42px;
    color: var(--white-color);
    border: none;
    margin-top: -8px;
    border-radius: 20px;
    background-color: var(--black-color);
}
.overlay__btn:hover, 
.overlay__btn-dk:hover {
    cursor: pointer;
}